
.app{
    user-select: none;
    -webkit-app-region:drag;
    background-color: rgb(154, 165, 230);
    border-radius: 12px;
  };
  .idlebutton{
    user-select: none;
    -webkit-app-region:drag;
    font-size: 33px;
    padding-left: 8px;
    background-color: rgb(154, 165, 230);
    border-radius: 12px;
  };
  ::-webkit-scrollbar
  {
    width: 0px;
  }
  .time {
    font-family: 'Times New Roman', Times, serif;
    h1{
      font-size: 16px;
      margin-bottom: -24px;
      margin-left: 8px;
    }
    h2{
      font-size: 24px;
        color:rgb(0, 0, 0);
        margin-left: 8px;

    };
  };