
.app{
    user-select: none;
    -webkit-app-region:drag;
    border-radius: 5px;
}

  .time {
    margin-top:-18px;
    font-size: 1.1rem;
    h2{
        color:rgb(255, 255, 255);
        font-family: 'Times New Roman', Times, serif;
    };
  };